<div class="container">
<h2>Ask your Question</h2>

<form action="/answer" method="get" class="form-ask">
    <label for="question">What do you want to ask ?</label>
    <input type="text" name="question" id="question">
    <input type="submit" value="Ask!">
</form>
</div>
